<Config>
  <LogLevel>info</LogLevel>
  <UrlBase></UrlBase>
  <UpdateMechanism>Docker</UpdateMechanism>
  <BindAddress>*</BindAddress>
  <Port>7878</Port>
  <SslPort>9899</SslPort>
  <EnableSsl>True</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>f4db0e0e1ec741f0819662a34a7efe2b</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <Branch>master</Branch>
  <SslCertPath>/app_certs/cert.pfx</SslCertPath>
  <SslCertPassword></SslCertPassword>
  <UpdateAutomatically>True</UpdateAutomatically>
</Config>
